body {
    text-align: center;
    font-size: 2em;
    min-height: 100%;
    font-family: serif;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.blur {
    filter: blur(3rem);
}

#wordDisplay {
    font-size: 4em;
}

#footer {
    position: fixed;
    bottom: 20px;
    align-content: center;
}

#resultsColumn {
    flex: 1;
}
